# default settings for sessions
[DEFAULT]
ConnectionType=initiator
HttpAcceptPort=8085
FileStorePath=qfix_db
FileLogPath=qfix_log
StartTime=00:00:00
EndTime=23:59:59
HeartBtInt=20

# sessions definition

[SESSION]
SenderCompID=SAMPLE01
TargetCompID=CLEAR01
BeginString=FIX.4.4
SocketConnectPort=61001
SocketConnectHost=127.0.0.1
DataDictionary=FIX44.xml
ValidateUserDefinedFields=N